<div style="display: flex; align-items: center; justify-content: center; height: 100%; width: 100%;">
    <img height="350" src="../assets/image/navana-group.jpg">
    <div style="margin-top: 100px; margin-bottom: 100px; text-align: center;">
        <h1 style="color: var(--gray-700); font-size: 30px; font-weight: 600; text-transform: uppercase;">
            Welcome Navana Group
        </h1>
        <div style="display: flex; justify-content: center; gap: 20px;">
            <button nz-button nzType="primary" (click)="webA()">Web Site</button>
            <button nz-button nzType="primary" (click)="webB()">Business Units</button>
        </div>
    </div>
</div>